<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Monkey Radio</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ici c'est Monkey ! Ecoutez et partagez vos musiques préférées sur votre radio...">
    <link rel="manifest" href="assets/manifest.json">
    <link id="favicon" rel='icon' type='image/png' href='assets/monkeyPNG.png?v=2' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.0.96/css/materialdesignicons.min.css"
        integrity="sha512-fXnjLwoVZ01NUqS/7G5kAnhXNXat6v7e3M9PhoMHOTARUMCaf5qNO84r5x9AFf5HDzm3rEZD8sb/n6dZ19SzFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

    <style>
        .loadingSplash {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: var(--main-bg);
            z-index: 9999999;
        }

        #loader-path {
            fill: none;
            stroke: white;
            stroke-width: 3px;
            stroke-linecap: round;
        }

        #loader-path {
            stroke-dasharray: 10, 10;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        #circular-loader {
            animation: rotate 2s linear infinite;
        }

        @keyframes animate-stroke {
            0% {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -35;
            }

            100% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -124;
            }
        }

        #loader-path {
            animation: animate-stroke 1.5s ease-in-out infinite;
        }
    </style>

    <div class="loadingSplash" style="opacity: 1; transition: opacity .5s;">

        <div style="display: flex; height: 100vh;">
            <img src="assets/monkeyPNG.png" style="max-height: 35vh; max-width: 35vw;  margin: auto;" alt="">
        </div>

        <div style="position:absolute; width: 100vw; bottom: 5vh;">
            <div id="loader" style="width: 20vw; max-width: 100px; margin: auto;">
                <svg id="circular-loader" viewBox="25 25 50 50">
                    <circle id="loader-path" cx="50" cy="50" r="20" fill="none"></circle>
                </svg>
            </div>
        </div>

    </div>



    <div id="app" style="display: none;">

        <v-app>

            <v-app-bar elevation="3" app color="primary">

                <v-row>

                    <v-col cols="auto" class="d-flex d-lg-none">
                        <v-app-bar-nav-icon @click="nav = true"></v-app-bar-nav-icon>
                    </v-col>

                    <v-col class="col align-center">

                        <h1 class="d-none d-sm-flex ns" style="cursor:pointer">Monkey Radio</h1>
                        <h1 class="d-flex d-sm-none ns" style="cursor:pointer">Monkey</h1>


                    </v-col>


                    <v-col class="d-none d-lg-flex col-auto align-center">


                        <v-tabs background-color="primary">
                            <v-tabs-slider color="white"></v-tabs-slider>
                            <v-tab class="me-3" v-for="item in navigation">{{item.title}}</v-tab>
                        </v-tabs>

                    </v-col>


                    <v-col class="d-none d-lg-flex justify-center">
                        <div>
                            <v-row v-ripple style="cursor:pointer;">
                                <v-col cols="auto" class="align-center px-0 py-0">
                                    <img :src="radioEvents.now.trackCover" draggable="false" style="height: 68px;"
                                        class="d-flex ns" alt="">
                                </v-col>
                                <v-col cols="auto" class="pe-0" style="max-width: 10vw; min-width: 7vw;">
                                    <v-list-item-title class="bold ns">{{radioEvents.now.trackTitle}}
                                    </v-list-item-title>
                                    <v-list-item-subtitle class="bold ns">{{radioEvents.now.trackArtist}}
                                    </v-list-item-subtitle>
                                </v-col>
                                <v-col cols="auto" class="d-flex align-center">
                                    <v-icon size="40">mdi-play-circle-outline</v-icon>
                                </v-col>
                            </v-row>
                        </div>
                    </v-col>


                    <v-col class="d-flex col-auto d-lg-none align-center justify-end">

                        <v-btn icon class="d-block d-lg-none">
                            <v-icon size="40">mdi-play-circle-outline</v-icon>
                        </v-btn>

                    </v-col>

                </v-row>

            </v-app-bar>


            <v-dialog v-model="nav" fullscreen transition="dialog-top-transition">
                <v-card>
                    <v-toolbar dark color="primary">
                        <v-row>
                            <v-col cols="auto">
                                <v-btn icon dark @click="nav = false">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </v-col>

                            <v-col class="d-flex justify-center">
                                <h1 class="d-flex">Monkey</h1>
                            </v-col>

                            <v-col cols="auto" style="pointer-events: none; opacity: 0;">
                                <v-btn icon dark @click="nav = false">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </v-col>

                        </v-row>
                    </v-toolbar>

                </v-card>
            </v-dialog>



            <div class="fsBottom ns" style="bottom: -65px;">


                <v-progress-linear class="pabs" color="var(--mainColor)" :value="fsPlayer.pBar" onclick="fsDragShow()">
                </v-progress-linear>

                <v-row class="mt-0">

                    <v-col class="d-none d-lg-flex align-center justify-center" onclick="fsDragShow()">
                        <v-icon class="d-flex justify-center primaryT" color="var(--mainColor)">
                            {{fsPlayer.iconType}}
                        </v-icon>
                        <p class="pfitC d-flex mb-0 ms-1" style="color: var(--mainColor)">{{fsPlayer.type}}
                        </p>
                    </v-col>

                    <v-col class="col-12 col-lg-6 pt-0 pb-0 ms-3">

                        <v-row class="mt-0 ms-0">
                            <v-col cols="auto" class="d-flex align-center" onclick="fsDragShow()">
                                <img draggable="false" :src="fsPlayer.metadata.coverMain"
                                    style="height: 95%; width: auto; border-radius: 2px;" alt="">
                            </v-col>

                            <v-col cols="auto" onclick="fsDragShow()">

                                <v-row>
                                    <v-col cols="auto" class="ps-0 pe-0 pt-0 pb-0 d-flex align-center">
                                        <p class="pFit">{{fsPlayer.metadata.subTit}}</p>
                                    </v-col>
                                </v-row>

                                <v-row class="mt-0">
                                    <v-col cols="auto" class="ps-0 pe-0 pt-0 pb-0">
                                        <p class="pFit" style="color: grey;">{{fsPlayer.metadata.title}}</p>
                                    </v-col>
                                </v-row>

                            </v-col>


                            <v-col class="d-flex justify-end align-center" style="margin-right: 24px;">

                                <v-col onclick="fsDragShow()"></v-col>

                                <v-btn onclick="fsv.destroy()" icon>
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>

                                <v-btn icon class="ms-2 fsPlayButton">
                                    <v-icon>{{fsPlayer.playButton}}</v-icon>
                                </v-btn>
                            </v-col>
                        </v-row>


                    </v-col>

                    <v-col class="d-none d-lg-flex" onclick="fsDragShow()"></v-col>

                </v-row>

            </div>

        </v-app>

    </div>


    <link rel="stylesheet" href="style/s.css">
    <link rel="stylesheet" href="" id="ColorModeSheet">

    <audio style="position: absolute; top: 0; z-index: 140;" src=''></audio>
    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hls.js/1.2.1/hls.min.js"
        integrity="sha512-Pz8EFXS+i+7OkM6UbM76gAKW8OE/JFzKvSM8CzKQuE27AOuUfnmvt9SQFhjVyudkJB7ESNYivCQwvAzyP4pnyQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="Script/vueInst.js"></script>
    <script src="Script/theme.js"></script>
    <script src="Script/base.js"></script>

    <!-- FS PLAYER -->
    <script src="scripts/fsPlayer/fsPlayer.js"></script>
    <script src="scripts/fsPlayer/fsPlayerDrag.js"></script>
    <script src="scripts/fsPlayer/fsMenuMask.js"></script>
</body>

</html>