body {
    height: 100vh;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: "Roboto", sans-serif;
    z-index: 2;
}

html {
    overflow-x: hidden;
}

.iconRounded {
    border-radius: 15px;
}

.bottomplayer {
    background-color: #3e3e3e;
    position: fixed;
    bottom: -110px;
    width: 100%;
    transition: bottom 0.6s ease 0s, height 0.2s ease 0s;
    height: 105px;
}

.fright {
    position: absolute;
    right: 5px;
}

.player_artist {
    color: hsla(0, 0%, 100%, .7);
}

.grey {
    background-color: #3e3e3e;
}

.player-bfix {
    height: 100px;
}